.App {
	display: grid;
	grid-template-areas:
		'header header'
		'left right';

	grid-template-columns: 48% 48%;
	grid-template-rows: 50px 1fr;
	grid-column-gap: 4%;
	grid-row-gap: 15px;
	min-height: 100vh;
	background-color: #eee;
}

.App-header {
	grid-area: header;
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-header h2 {
	margin: 0;
	align-self: center;
}

.App-left {
	grid-area: left;
	margin-left: 15px;
	margin-bottom: 15px;
}

.App-right {
	grid-area: right;
	margin-right: 15px;
	margin-bottom: 15px;
}
